<section class="section-about">
  <div class="inner">
    <div class="fixed-left">
      <h3>Quick links</h3>
      <ul>
        <li class="active"><a href="#">Our mission</a></li>
        <li><a href="#">Our story</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Contact us</a></li>
      </ul>
    </div>
  </div>

  <div class="about-title">
    <div class="inner">
      <div class="about__img">
        <img src="{{root}}images/about-img.png" alt="#">
      </div>
      <h1 class="title">About us</h1>
      <div class="content">
        <div class="img">
          <img src="{{root}}images/title-img.png" alt="#">
        </div>
        <h2>Our Mission</h2>
        <p>There are over 400 million active websites in the world and fewer than 1% are accessible. Over the past five years website accessibility lawsuits have risen 300% YOY.</p>
        <p>AccessibilityChecker.org’s mission is to arm businesses with the most accurate and reliable information in order to avoid web accessibility lawsuits, and in turn create an easy, seamless web experience for the wider disabled community. We’ve built a free and easy to use tool that analyses any given web URL and provides a detailed accessibility report, outlining the exact website elements that fail to comply with worldwide (WCAG 2.1 level AA) and local (selected countries only) accessibility legislations.</p>
        <p><strong>Here’s an example of an accessibility report:</strong></p>
        <div class="img">
          <img src="{{root}}images/info-img1.png" alt="#">
        </div>
        <p>We made sure to include a detailed, drilldown description for any accessibility issue that might be identified, with “how to fix” instructions to achieve complete compliance:</p>
        <div class="img">
          <img src="{{root}}images/info-img2.png" alt="#">
        </div>
        <h2>Our Story</h2>
        <p>Starting a business from the ground up is never an easy task, as we learned when establishing our ecommerce business in 2014. We encountered ups, downs and many unexpected obstacles.  But, after much determination our small company grew into a midsize business. Everything was going according to plan, until we received an accessibility demand letter ourselves.</p>
        <p>Receiving a demand letter /  lawsuit is never easy, but when it deals with a sensitive subject like disabilities the feeling is even more unsettling. While admittedly we weren’t aware of this web accessibility issue, as we never encountered it in our personal lives, it did lead us down an exploratory path, lending us to dig deeper into the subjec</p>
        <div class="img__none">
          <p>Some picture here or screenshot that related to story</p>
        </div>
        <p>Through our research we uncovered an abundance of information including the difference between a demand letter and a lawsuit, the type of lawyer one needs to navigate this kind of situation and different legislations around the world, including, ADA, AODA, EN30541. We read through numerous case studies on the topic to arm ourselves with the most accurate and reliable information and educated ourselves on other possible website accessibility solutions on the market.</p>
        <p>In the process, we’ve decided to custom-build our own accessibility audit tool, to be able to constantly & efficiently monitor the compliance levels of new content added to our set of ecommerce websites, which ultimately led us to create AccessibilityChecker.org and share that creation with the world :)</p>
        <h2>FAQ</h2>
        <ul class="tabs">
          <li>
            <p>Does your auditing tool collect data from my website?</p>
            <div class="tab-hidden"><p>No. Accessibility Checker (AC) is an audit tool and informational website. It can only tell you what’s not compliant on your website, how to fix it, and then recommend different solutions to match your needs.</p></div>
          </li>
          <li>
            <p>What compliance level does the auditing tool check for?</p>
            <div class="tab-hidden"><p>No. Accessibility Checker (AC) is an audit tool and informational website. It can only tell you what’s not compliant on your website, how to fix it, and then recommend different solutions to match your needs.</p></div>
          </li>
          <li>
            <p>Can AC make my website compliant?</p>
            <div class="tab-hidden"><p>No. Accessibility Checker (AC) is an audit tool and informational website. It can only tell you what’s not compliant on your website, how to fix it, and then recommend different solutions to match your needs.</p></div>
          </li>
          <li>
            <p>Can I settle my lawsuit with AC’s report?</p>
            <div class="tab-hidden"><p>No. Accessibility Checker (AC) is an audit tool and informational website. It can only tell you what’s not compliant on your website, how to fix it, and then recommend different solutions to match your needs.</p></div>
          </li>
          <li>
            <p>Does AC sell anything?</p>
            <div class="tab-hidden"><p>No. Accessibility Checker (AC) is an audit tool and informational website. It can only tell you what’s not compliant on your website, how to fix it, and then recommend different solutions to match your needs.</p></div>
          </li>
          <li>
            <p>How does your site fund its operation?</p>
            <div class="tab-hidden"><p>No. Accessibility Checker (AC) is an audit tool and informational website. It can only tell you what’s not compliant on your website, how to fix it, and then recommend different solutions to match your needs.</p></div>
          </li>
          <li>
            <p>Does it cost more to sign up for an accessibility solution or service through your website?</p>
            <div class="tab-hidden"><p>No. Accessibility Checker (AC) is an audit tool and informational website. It can only tell you what’s not compliant on your website, how to fix it, and then recommend different solutions to match your needs.</p></div>
          </li>
          <li>
            <p>How can I trust your recommendation?</p>
            <div class="tab-hidden"><p>No. Accessibility Checker (AC) is an audit tool and informational website. It can only tell you what’s not compliant on your website, how to fix it, and then recommend different solutions to match your needs.</p></div>
          </li>
          <li>
            <p>How can I find the right solution to make my website compliant and accessible?</p>
            <div class="tab-hidden"><p>No. Accessibility Checker (AC) is an audit tool and informational website. It can only tell you what’s not compliant on your website, how to fix it, and then recommend different solutions to match your needs.</p></div>
          </li>
        </ul>
        <div class="ask-more">
          <div class="img">
            <img src="{{root}}images/book-pencil.png" alt="#">
          </div>
          <h2>Do you have some <strong>questions</strong>?</h2>
          <p>Send us your question and we will give you the answer as soon as possible</p>
          <div class="button">
            <a href="#" class="btn">Contact us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fixed-bg"></div>
</section>
