<section class="section-details">
  <div class="wrapper">
    <div class="left">
      <div class="button-back">
        <a href="index.html" class="btn-detail">Back to Home</a>
      </div>
      <div class="detail-left__img">
        <img src="{{root}}images/left-detail-img.png" alt="#">
      </div>
      <div class="details__link">
        <a href="#">obnovastores.com</a>
      </div>
      <div class="arrow__img">
        <img src="{{root}}images/arrow-details.png" alt="#">
      </div>
      <div class="left__info">
        <p>Based on our analysis, these automated tools will  help you become compliant under<a href="#"><img src="{{root}}images/germany-icon.png" alt="#">Germany BITV law</a></p>
      </div>
      <ul class="medals">
        <li>
          <div class="medal__block">
            <div class="medal__img">
              <img src="{{root}}images/gold-medal.png" alt="#">
            </div>
            <p>AccessiBe</p>
            <div class="button">
              <a href="#" class="rgb-green">Go to website</a>
            </div>
          </div>
        </li>
        <li>
          <div class="medal__block">
            <div class="medal__img">
              <img src="{{root}}images/silver-medal.png" alt="#">
            </div>
            <p>UserWay</p>
            <div class="button">
              <a href="#" class="rgb-green">Go to website</a>
            </div>
          </div>
        </li>
        <li>
          <div class="medal__block">
            <div class="medal__img">
              <img src="{{root}}images/bronze-medal.png" alt="#">
            </div>
            <p>Equalweb</p>
            <div class="button">
              <a href="#" class="rgb-green">Go to website</a>
            </div>
          </div>
        </li>
        <li>
          <div class="button-more">
            <a href="#" class="btn-more">Learn more</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="right">

    </div>
  </div>
</section>
