<section class="section-home" style="background-image: url({{root}}images/banner-home.png)">
  <div class="inner">
    <div class="home_img">
      <img src="{{root}}images/home-img.png" alt="#">
    </div>
    <h1 class="title">Find out if your website is <input placeholder="ADA compliant" value="ADA compliant"></h1>
    <p>Scan your website for free, identify accessbility issues, and get exact instructions on how to fix them. Type
      your URL to start now!</p>
    <div class="home__search">
      <div class="form-home">
        <div class="search">
          <input name="search" type="text" placeholder="Paste website URL here & choose country">
        </div>
        <div class="dropdown">
          <button class="dropbtn">Dropdown</button>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
      </div>
    </div>
    <div class="button">
      <a href="#" class="btn">Check website</a>
    </div>
  </div>
</section>

<section class="slider-home">
  <div class="item">
    <div class="accept__img">
      <img src="{{root}}images/md-check.png" alt="#">
    </div>
    <div class="slider__text">
      <h3>Section 508</h3>
      <p>Compliant</p>
    </div>
  </div>
  <div class="item">
    <div class="accept__img">
      <img src="{{root}}images/md-check.png" alt="#">
    </div>
    <div class="slider__text">
      <h3>ADA Title III</h3>
      <p>Compliant</p>
    </div>
  </div>
  <div class="item">
    <div class="accept__img">
      <img src="{{root}}images/md-check.png" alt="#">
    </div>
    <div class="slider__text">
      <h3>WCAG 2.1</h3>
      <p>Compliant</p>
    </div>
  </div>
  <div class="item">
    <div class="accept__img">
      <img src="{{root}}images/md-check.png" alt="#">
    </div>
    <div class="slider__text">
      <h3>BITV</h3>
      <p>Compliant</p>
    </div>
  </div>
  <div class="item">
    <div class="accept__img">
      <img src="{{root}}images/md-check.png" alt="#">
    </div>
    <div class="slider__text">
      <h3>DDA</h3>
      <p>Compliant</p>
    </div>
  </div>
  <div class="item">
    <div class="accept__img">
      <img src="{{root}}images/md-check.png" alt="#">
    </div>
    <div class="slider__text">
      <h3>ACA</h3>
      <p>Compliant</p>
    </div>
  </div>
  <div class="item">
    <div class="accept__img">
      <img src="{{root}}images/md-check.png" alt="#">
    </div>
    <div class="slider__text">
      <h3>AODA</h3>
      <p>Compliant</p>
    </div>
  </div>
  <div class="item">
    <div class="accept__img">
      <img src="{{root}}images/md-check.png" alt="#">
    </div>
    <div class="slider__text">
      <h3>ACA</h3>
      <p>Compliant</p>
    </div>
  </div>
  <div class="item">
    <div class="accept__img">
      <img src="{{root}}images/md-check.png" alt="#">
    </div>
    <div class="slider__text">
      <h3>ACA</h3>
      <p>Compliant</p>
    </div>
  </div>
  <div class="item">
    <div class="accept__img">
      <img src="{{root}}images/md-check.png" alt="#">
    </div>
    <div class="slider__text">
      <h3>ACA</h3>
      <p>Compliant</p>
    </div>
  </div>
</section>

<section class="section-laws">
  <div class="inner">
    <div class="wrapper">
      <div class="left">
        <div class="laws__img">
          <img src="{{root}}images/dekstop-icon.png" alt="#">
        </div>
        <div class="laws__text">
          <h2>Why is it important that your website is compliant with accessibility laws?</h2>
          <p>Legislation requires websites to be accessible to users who are disabled. A compliant website not only
            ensures a safe and effective experience for all users, but it also protects you from liability.</p>
          <div class="button">
            <a href="#" class="rgb-btn">read more</a>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="one-block">
          <div class="block__img">
            <img src="{{root}}images/laws1-icon.png" alt="#">
          </div>
          <p><strong>Boost</strong> your brand perception</p>
        </div>
        <div class="two-block">
          <div class="block__img">
            <img src="{{root}}images/laws2-icon.png" alt="#">
          </div>
          <p><strong>Avoid</strong> accessibility lawsuits</p>
        </div>
        <div class="three-block">
          <div class="block__img">
            <img src="{{root}}images/laws3-icon.png" alt="#">
          </div>
          <p><strong>Open</strong> your website to everyone</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-tabs">
  <div class="inner">
    <div class="tabs__img">
      <img src="{{root}}images/tabs-img.png" alt="#">
    </div>
  </div>
</section>

<section class="section-work">
  <div class="inner">
    <div class="wrapper">
      <div class="left">
        <div class="top_item">
          <div class="laws__img">
            <img src="{{root}}images/dekstop-icon.png" alt="#">
          </div>
          <div class="laws__text">
            <h2>How does it work? We're here to help</h2>
            <p>Our accessibility audit will do the hard work for you, scanning your website's code to identify
              accessibility deficiencies</p>
          </div>
        </div>
        <div class="item">
          <div class="left__item">
            <img src="{{root}}images/web-img1.png" alt="#">
          </div>
          <div class="right__item">
            <h3>Type your website’s URL</h3>
            <p>Our system will scan any live domain </p>
          </div>
        </div>
        <div class="item">
          <div class="left__item">
            <img src="{{root}}images/web-img2.png" alt="#">
          </div>
          <div class="right__item">
            <h3>Choose legislation by country</h3>
            <p>Audit your website against the major legislations around the world</p>
          </div>
        </div>
        <div class="item">
          <div class="left__item">
            <img src="{{root}}images/web-img3.png" alt="#">
          </div>
          <div class="right__item">
            <h3>Get a detailed & accurate audit</h3>
            <p>Including elaborate explanations and recommended solutions</p>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="one-block">
          <div class="block__img">
            <img src="{{root}}images/work-img1.png" alt="#">
          </div>
        </div>
        <div class="two-block">
          <div class="block__img">
            <img src="{{root}}images/work-img2.png" alt="#">
          </div>
        </div>
        <div class="three-block">
          <div class="block__img">
            <img src="{{root}}images/work-img3.png" alt="#">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-info">
  <div class="inner">
    <ul>
      <li>
        <div class="blog__big">
          <a href="#">
            <div class="blog__img">
              <img src="{{root}}images/big-img1.png" alt="#">
            </div>
            <div class="wrapper">
              <div class="info__top">
                <h3>Accessibility events</h3>
                <div class="time">
                  <span class="calendar">27 August 2020</span>
                  <span class="eye">3 min</span>
                </div>
              </div>
              <div class="info__bottom">
                <h2>College Students Increasingly Turn to ProFund to Pay for Tuition</h2>
                <p>As the Southeast prepares for Hurricane Florence, GoFundMe is also making preparations and working
                  with state and local officials to ensure that the money raised</p>
              </div>
            </div>
          </a>
        </div>
      </li>
      <li>
        <div class="blog__medium">
          <a href="#">
            <div class="blog__img">
              <img src="{{root}}images/med-img1.png" alt="#">
            </div>
            <div class="wrapper">
              <div class="info__bottom">
                <h2>College Students Increasingly Turn to ProFund to Pay for Tuition</h2>
                <p>As the Southeast prepares for Hurricane As the Southeast prepares for Hurricane Flo...</p>
              </div>
            </div>
          </a>
        </div>
      </li>
      <li>
        <div class="blog__medium">
          <a href="#">
            <div class="blog__img">
              <img src="{{root}}images/med-img1.png" alt="#">
            </div>
            <div class="wrapper">
              <div class="info__bottom">
                <h2>College Students Increasingly Turn to ProFund to Pay for Tuition</h2>
                <p>As the Southeast prepares for Hurricane As the Southeast prepares for Hurricane Flo...</p>
              </div>
            </div>
          </a>
        </div>
      </li>
      <li>
        <div class="blog__medium">
          <a href="#">
            <div class="blog__img">
              <img src="{{root}}images/med-img1.png" alt="#">
            </div>
            <div class="wrapper">
              <div class="info__bottom">
                <h2>College Students Increasingly Turn to ProFund to Pay for Tuition</h2>
                <p>As the Southeast prepares for Hurricane As the Southeast prepares for Hurricane Flo...</p>
              </div>
            </div>
          </a>
        </div>
      </li>
      <li>
        <div class="blog__medium">
          <a href="#">
            <div class="blog__img">
              <img src="{{root}}images/med-img1.png" alt="#">
            </div>
            <div class="wrapper">
              <div class="info__bottom">
                <h2>College Students Increasingly Turn to ProFund to Pay for Tuition</h2>
                <p>As the Southeast prepares for Hurricane As the Southeast prepares for Hurricane Flo...</p>
              </div>
            </div>
          </a>
        </div>
      </li>
      <li>
        <div class="button">
          <a href="#" class="rgb-btn">read more</a>
        </div>
      </li>
    </ul>
  </div>
</section>

<section class="section-mail">
  <div class="inner">
    <div class="wrapper">
      <div class="mail__img">
        <img src="{{root}}images/mail-img.png" alt="#">
      </div>
      <h2>Let's stay connected!</h2>
      <div class="text">
        <p>Enter your email below to stay up-to-date on the latest in digital accessibility.</p>
      </div>
      <div class="mail-form">
        <div class="mail">
          <input name="mail" type="text" placeholder="Type your email">
        </div>
        <div class="button">
          <a href="#" class="btn">Subscribe</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-frequent">
  <div class="inner">
    <div class="title">
      <div class="book__img">
        <img src="{{root}}images/book-img.png" alt="#">
      </div>
      <h2>Frequent questions and answers</h2>
    </div>
    <div class="wrapper">
      <div class="item">
        <h3>What do you mean by Accessibility Undertake?</h3>
        <p>WCAU’s (Web Content Accessibility Undertake) mission is to arm businesses with the most accurate, up to date
          and reliable information regarding web accessibility in order to avoid lawsuits, and in turn help scale up web
          accessibility and create an easy, seamless web experience for the wider disabled community.</p>
      </div>
      <div class="item">
        <h3>Does WCAU sell anything?</h3>
        <p>No. See the next question in order to understand how we fund our operation. Our focus is merely on assisting
          website owners navigate, understand and find solutions to comply with accessibility laws in their
          countries</p>
      </div>
      <div class="item">
        <h3>What do you mean by Accessibility Undertake?</h3>
        <p>What do you mean by Accessibility Undertake?</p>
      </div>
      <div class="item">
        <h3>What do you mean by Accessibility Undertake?</h3>
        <p>WCAU’s (Web Content Accessibility Undertake) mission is to arm businesses with the most accurate, up to date
          and reliable information regarding web accessibility in order to avoid lawsuits, and in turn help scale up web
          accessibility and create an easy, seamless web experience for the wider disabled community.</p>
      </div>
      <div class="item">
        <h3>Does WCAU sell anything?</h3>
        <p>No. See the next question in order to understand how we fund our operation. Our focus is merely on assisting
          website owners navigate, understand and find solutions to comply with accessibility laws in their
          countries</p>
      </div>
      <div class="item">
        <a href="#" class="rgb-btn">read more</a>
      </div>
    </div>
  </div>
</section>
