{{#ifpage 'index' 'about-us' 'article' 'blog'}}
<footer class="footer">
  <div class="search-footer">
    <div class="inner">
      <div class="info">
        <div class="info__img">
          <img src="{{root}}images/telegram.png" alt="#">
        </div>
        <div class="info__text">
          <h4>Newsletter</h4>
          <p>Stay up-to-date on the latest in digital accessibility</p>
        </div>
      </div>
      <div class="mail-form">
        <div class="mail">
          <input name="mail" type="text" placeholder="Type your email">
        </div>
        <div class="button">
          <a href="#" class="btn">Subscribe</a>
        </div>
      </div>
    </div>
  </div>
  <div class="inner">
    <div class="wrap">

      <div class="mobile-footer">
        <ul>
          <li><a href="#">Audit your website</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Legislations</a></li>
          <li><a href="#">How it works?</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Support</a></li>
        </ul>
        {{>social-links}}
      </div>

      <nav class="footer-nav-container">
        <ul class="footer-nav">
          <li class="menu-item-has-children">
            <h3>Knowledge base</h3>
            <ul class="sub-menu">
              <li><a href="#">Audit your website</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Legislations</a></li>
              <li><a href="#">How it works?</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Support</a></li>
            </ul>
          </li>
          <li class="menu-item-has-children">
            <h3>Legislations</h3>
            <ul class="sub-menu">
              <li><a href="#">WCAG</a></li>
              <li><a href="#">ADA</a></li>
              <li><a href="#">Section 508</a></li>
              <li><a href="#">EAA/EN301549</a></li>
              <li><a href="#">ACA</a></li>
              <li><a href="#">AODA</a></li>
            </ul>
          </li>
          <li class="menu-item-has-children">
            <h3>Accessibility By Country</h3>
            <ul class="sub-menu flag_item">
              <li><img src="{{root}}images/world-flag.png" alt="#"><a href="#">Worldwide</a></li>
              <li><img src="{{root}}images/us-flag.png" alt="#"><a href="#">USA</a></li>
              <li><img src="{{root}}images/ca-flag.png" alt="#"><a href="#">Canada</a></li>
              <li><img src="{{root}}images/eu-flag.png" alt="#"><a href="#">Europe</a></li>
              <li><img src="{{root}}images/ge-flag.png" alt="#"><a href="#">Germany</a></li>
              <li><img src="{{root}}images/au-flag.png" alt="#"><a href="#">Australia</a></li>
              <li><img src="{{root}}images/dn-flag.png" alt="#"><a href="#">Denmark</a></li>
              <li><img src="{{root}}images/fn-flag.png" alt="#"><a href="#">Finland</a></li>
              <li><img src="{{root}}images/fr-flag.png" alt="#"><a href="#">France</a></li>
              <li>{{>social-links}}</li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="bottom-line">
    <div class="inner">
      <div class="copyright">
        <p>© 2020 - WCAU LTD. All Rights Reserved.</p>
      </div>
      <ul class="links-nav">
        <li><a href="#">Accessibility Statement</a></li>
        <li><a href="#">Terms of Use</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Cookie Policy</a></li>
      </ul>
    </div>
  </div>
</footer>
{{/ifpage}}
